.tabCurrent { border: 1px solid #ff9c30;  
	background: #FFB76A url("../../images/hTabCurrent.jpg") left top repeat-x;
    background-size: 100% 100%;
	padding: 7px 10px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; text-align: center; -ms-border-radius: 4px;}
.tabCurrent span { color: white; }
.tabSelected { border: 1px solid #D4D4D4; 
	background: #E7E7E7 url("../../images/hTabSelected.jpg") left top repeat-x;
    background-size: 100% 100%;
	padding: 7px 10px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; text-align: center; }
 .tabSelected:HOVER { 
 	background: #C7C7C7 url("../../images/hTabHSelected.jpg") left top repeat-x;
    background-size: 100% 100%;
 	cursor: pointer; box-shadow: 1px 1px 1px #E3E3E3;
 	padding: 7px 10px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; text-align: center; }
.tabSelectedHOVER { border: 1px solid #D4D4D4;
 	background: #C7C7C7 url("../../images/hTabHSelected.jpg") left top repeat-x;
    background-size: 100% 100%;
 	cursor: pointer; box-shadow: 1px 1px 1px #E3E3E3;
 	padding: 7px 10px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; text-align: center; }
.tabSelected span { color: black; }
.tabNotSelected { border: 1px solid #E3E3E3; background-image: none;
	padding: 7px 10px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; text-align: center; }
.tabNotSelected span { color: #CCC;  }
.imageSelected { opacity: 0.6; filter:alpha(opacity=60); margin: 0px 10px; }
.imageNotSelected { opacity: 0.2; filter:alpha(opacity=20); margin: 0px 10px; }
/* Button */
.hTabButton{height:22px; float:left; background-color:#589346; border-radius:25px;}
.hTabButtonPrevImg{background-image: url(../../images/hTabPrevious.png); width:19px; height:19px; float:left; margin:1px 0px 0px 3px;}
.hTabButtonNextImg{background-image: url(../../images/hTabNext.png); width:19px; height:19px; float:left; margin:1px 0px 0px 3px;}
.hTabButtonText {letter-spacing:1px; font-family:Arial,Helvetica,sans-serif; font-size:12px; float:right; color:#FFF; margin:4px 8px 0px 5px; font-weight:bold;}