/*
 * Contributor; Kousalya
 ************************************************************************
*/

.OBToolbarIconButton_icon_escm_print_pdf {
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(./images/print_pdf.png);
}
	
