/*Tool Bar*/
div.MainButtonDiv{text-align: right;} 
/*Combo Box*/
.ui-autocomplete-input {height: 21px; border-radius:0px !important; width:256px;font-size: 12px; padding: 0 0 0 3px; float: left;border:1px solid #CDD7BB;}
#hideMessage{float: right; margin-top:-13px; margin-right:10px;}
/*submit Button*/
#submitButton{text-align:left}
