/*Project Estimation*/
.iebarrow{margin:-4px 0 0 0;}
.ieprjbarrow{margin:-2px 0 0 0;}

/*Project Contract*/
.trheight{height:35px;}
.trheightgrid{height:20px;}
.gridborder{border-right: #FF9C30 2px solid;}
.labelseparate{border-collapse: separate;}