

.OBToolbarIconButton_icon_efin_copy_record {
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(./images/iconButton-clone.png);
}
	
.OBToolbarIconButton_icon_efin_enccopy_record {
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(./images/iconButton-clone.png);
}