/*
 * Contributor; Priyanka Ranjan
 ************************************************************************
*/

.OBToolbarIconButton_icon_efin_br_distribute_all {
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(./images/distributeall.png);
}
	
