/*
 * Contributor; Kousalya
 ************************************************************************
*/

.OBToolbarIconButton_icon_efin_upload_excel {
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(./images/upload_icon.png);
}

.OBToolbarIconButton_icon_efin_project_upload_excel {
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(./images/upload_icon.png);
}
    
