/*
 * Contributor; Priyanka Ranjan
 ************************************************************************
*/

.OBToolbarIconButton_icon_eut_request_more_info {
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(./images/toolbar/iconInfo.png);
}