/* All */
html,body { overflow: hidden; height: 100%; }
/* Toolbar Icon */
.Main_ToolBar_Button_Icon_Edition{background-image: url('../../images/toolbar/iconEdition.png');background-position: center center;background-repeat: no-repeat;width:100%;height:100%;}
.Main_ToolBar_Button_Icon_Edition_disabled{background-image: url('../../images/toolbar/iconEdition.png');background-position: center center;background-repeat: no-repeat;width:100%;height:100%;opacity:0.2;filter:alpha(opacity=20);}
.Main_ToolBar_Button_Icon_Relation{background-image: url('../../images/toolbar/iconRelation.png');background-position: center center;background-repeat: no-repeat;width:100%;height:100%;}
.Main_ToolBar_Button_Icon_New{background-image:url('../../images/toolbar/New.png');background-position:center;background-repeat:no-repeat;width:100%;height:100%;}
.Main_ToolBar_Button_Icon_New_disabled{background-image: url('../../images/toolbar/New.png');background-position: center center;background-repeat: no-repeat;width:100%;height:100%;opacity:0.2;filter:alpha(opacity=20);}
.Main_ToolBar_Button_Icon_Refresh{background-image: url('../../images/toolbar/Refresh.png');background-position: center center;background-repeat: no-repeat;width:100%;height:100%;}
.Main_ToolBar_Button_Icon_Delete{background-image: url('../../images/toolbar/Delete.png');background-position: center center;background-repeat: no-repeat;width:100%;height:100%;}
.Main_ToolBar_Button_Icon_Delete_disabled{background-image: url('../../images/toolbar/Delete.png');background-position: center center;background-repeat: no-repeat;width:100%;height:100%;opacity:0.2;filter:alpha(opacity=20);}
.Main_ToolBar_Button_Icon_Save{background-image: url('../../images/toolbar/Save.png');background-position: center center;background-repeat: no-repeat;width:100%;height:100%;}
.Main_ToolBar_Button_Icon_Save_disabled{background-image: url('../../images/toolbar/Save.png');background-position: center center;background-repeat: no-repeat;width:100%;height:100%;opacity:0.2;filter:alpha(opacity=20);}
.Main_ToolBar_Button_Icon_Save_Relation{background-image: url('../../images/toolbar/SaveClose.png');background-position: center center;background-repeat: no-repeat;width:100%;height:100%;}
.Main_ToolBar_Button_Icon_Save_Relation_disabled{background-image: url('../../images/toolbar/SaveClose.png');background-position: center center;background-repeat: no-repeat;width:100%;height:100%;opacity:0.2;filter:alpha(opacity=20);}
.Main_ToolBar_Button_Icon_Tree{background-image: url('../../images/toolbar/Tree.png');background-position: center center;background-repeat: no-repeat;width:100%;height:100%;}
.Main_ToolBar_Button_Icon_Save_New_disabled{background-image: url('../../images/toolbar/iconSaveAndNew.disabled.png');background-position: center center;background-repeat: no-repeat;width:100%;height:100%;opacity:0.2;filter:alpha(opacity=20);}
.Main_ToolBar_Button_Icon_Save_New{background-image: url('../../images/toolbar/iconSaveAndNew.png');background-position: center center;background-repeat: no-repeat;width:100%;height:100%;}
.Main_ToolBar_Button_Icon_Upload{background-image: url('../../images/toolbar/upload.png');background-position: center center;background-repeat: no-repeat;width:100%;height:100%;}
.Main_ToolBar_Button_Icon_Download{background-image: url('../../images/toolbar/download.png');background-position: center center;background-repeat: no-repeat;width:100%;height:100%;}
.Main_ToolBar_Button_Icon_Upload_disabled{background-image: url('../../images/toolbar/upload.png');background-position: center center;background-repeat: no-repeat;width:100%;height:100%;opacity:0.2;filter:alpha(opacity=20);}
.Main_ToolBar_Button_Icon_Download_disabled{background-image: url('../../images/toolbar/download.png');background-position: center center;background-repeat: no-repeat;width:100%;height:100%;opacity:0.2;filter:alpha(opacity=20);}
.Main_ToolBar_Button_Icon_Print{background-image: url('../../images/toolbar/iconPrint.png');background-position: center center;background-repeat: no-repeat;width:100%;height:100%;}
.Main_ToolBar_Button_Icon_Print_disabled{background-image: url('../../images/toolbar/iconPrint.png');background-position: center center;background-repeat: no-repeat;width:100%;height:100%;opacity:0.2;filter:alpha(opacity=20);}
.Main_ToolBar_Button_Icon_Email{background-image: url('../../images/toolbar/email.png');background-position: center center;background-repeat: no-repeat;width:100%;height:100%;}
.Main_ToolBar_Button_Icon_Email_disabled{background-image: url('../../images/toolbar/email.png');background-position: center center;background-repeat: no-repeat;width:100%;height:100%;opacity:0.2;filter:alpha(opacity=20);}
.Main_ToolBar_Button_Icon_Attachment{background-image:url('../../images/toolbar/iconButton-attach.png');background-position:center;background-repeat:no-repeat;width:100%;height:100%;}
.Main_ToolBar_Button_Icon_Attachment_disabled{background-image: url('../../images/toolbar/iconButton-attach.png');background-position: center center;background-repeat: no-repeat;width:100%;height:100%;opacity:0.2;filter:alpha(opacity=20);}
.Main_ToolBar_Button_Icon_AttachmentExists{background-image:url('../../images/toolbar/iconButton-attach-box.png');background-position:center;background-repeat:no-repeat;width:100%;height:100%;}
.Main_ToolBar_Button_Icon_AttachmentExists_disabled{background-image: url('../../images/toolbar/iconButton-attach-box.png');background-position: center center;background-repeat: no-repeat;width:100%;height:100%;opacity:0.2;filter:alpha(opacity=20);}

/* Table Header */
th.DataGrid_Header_Cell, td.DataGrid_Header_Cell{white-space: normal !important;background-size: 100% 100% !important;}
td.DataGrid_Body_Cell span { white-space: normal !important; }
tr.Popup_Client_Selector_DataGrid_HeaderRow{height: 22px;}
tr.DataGrid_Body_Row{height: 23px;}
/* JQGrid Header Search */
.jqgrid-textbox{ height: 18px; background: white !important; padding: 0px 0px 1px 2px !important; }
.jqgrid-button { padding: 3px 5px 3px 5px;border: 1px solid #888;}
.jqgrid-button:hover { cursor: pointer; }
/* Common */
table { font-size: 12px; }
span.text { white-space: normal !important; }
span.text span { white-space: normal !important; }
/* Cancel Request */
div.CancelRequest { text-align: center; width: 100%; height: 100%; }
div.CancelRequest img { height:20px !important; width:20px !important; cursor: pointer; background: url("../../images/toolbar/Delete.png") no-repeat center center; }
/* jQuery Timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 40%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 40% 10px 10px; }

/*styling search icon in Employee Details page */
input.ArabicHeaderSearchBox {
    padding-left: 30px !important;
    padding-right: 5px;
    background-size: 20px;
}

input.HeaderSearchBox {
    padding-right: 30px !important;
    padding-left: 5px;
    background-size: 20px;
}
