.tabCurrent {
    background-color: #eb7f00;
    background-size: 100% 100%;
    padding: 7px 10px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    text-align: center;
    -ms-border-radius: 0px;
}
.tabCurrent span {
    color: white;
}
.tabSelected {
    background-color: #0f97a6;
    background-size: 100% 100%;
    padding: 7px 10px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    text-align: center;
}
.tabSelected:HOVER {
    background-color: #0f97a6;
    background-size: 100% 100%;
    cursor: pointer;
    box-shadow: 1px 1px 1px #E3E3E3;
    padding: 7px 10px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    text-align: center;
}
.tabSelectedHOVER {
    background-color: #0f97a6;
    background-size: 100% 100%;
    cursor: pointer;
    box-shadow: 1px 1px 1px #E3E3E3;
    padding: 7px 10px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    text-align: center;
}
.tabSelected span {
    color: black;
}
.tabNotSelected {
    background-image: none;
    padding: 7px 10px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
	background-color: #d6d6d6;
    text-align: center;
}
.tabNotSelected span {
    color: #CCC;
}
.imageSelected {
    opacity: 0.6;
    filter: alpha(opacity=60);
    margin: 0px 10px;
}
.imageNotSelected {
    opacity: 0.2;
    filter: alpha(opacity=20);
    margin: 0px 10px;
}
/* Button */

.hTabButton {
    height: 22px;
    float: left;
    background-color: #0f97a6;
    border-radius: 25px;
}
.hTabButtonPrevImg {
    background-image: url(../../images/hTabPrevious.png);
    width: 19px;
    height: 19px;
    float: left;
    margin: 1px 0px 0px 3px;
}
.hTabButtonNextImg {
    background-image: url(../../images/hTabNext.png);
    width: 19px;
    height: 19px;
    float: left;
    margin: 1px 0px 0px 3px;
}
.hTabButtonText {
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    float: right;
    color: #FFF;
    margin: 4px 8px 0px 5px;
    font-weight: bold;
}

