.GMClassChangedCell,.GMClassAdded{font-weight:normal;}
.GMMainTable{border:2px solid #ff9c30;border-collapse:separate;text-align:left;background:#fff;padding:0;}
.GMHeadLeft,.GMBodyLeft,.GMFootLeft,.GMHScrollLeft{border-right:1px solid #cdd7bb;}
.GMHtml,.GMText,.GMLines,.GMPass,.GMInt,.GMFloat,.GMDate,.GMLink,.GMImg,.GMRadio,.GMRadioText,.GMList,.GMEnum,.GMDropCols,.GMAbs,.GMPagerEdit,.GMUser,.GMChart{font-size:12px;font-family:arial,sans-serif !important;white-space:nowrap;padding:2px 3px;color:#000 !important;}
.GMHeaderText{vertical-align:middle;font-size:11px;font-family:'lucida sans',sans-serif;font-weight:bold;line-height:17px;color:#000;padding-left:3px;padding-right:3px;padding-bottom:2px !important;padding-top:3px !important;}
.GMGanttHeader1,.GMGanttHeader2,.GMGanttHeader3,.GMGanttHeader4,.GMGanttHeader5{color:black;}
.GMCellHeader,.GMCellHeaderPanel,.GMCellHeaderEmpty{text-align:center;vertical-align:top;overflow:hidden;overflow:auto!IE;height:auto;background:#eceee9 url(../images/backgroundHeader.png) repeat-x left bottom !important;padding-top:1px;border-right:1px solid #cdd7bb;border-top:0;}
.GMBodyLeft,.GMBodyMid,.GMBodyRight{border-top:1px solid #cdd7bb;}
.GMRowHeight{height:19px;}
.GMFillRow{background:#fff;}
.GMCellEmpty{background:#e8f4ff;border-right:1px solid #cdd7bb;}
.GMEditInput,.GMEditTextarea{font-size:12px !important;font-family:arial,sans-serif !important;resize: none !important;;}
.GMCell,.GMCellFilter,.GMCellFilterPanel,.GMCellPanel,.GMCellUser,.GMHeaderDrag,.GMHeaderGroup{height:auto;border-bottom:1px solid #cdd7bb;border-right:1px solid #cdd7bb;vertical-align:top;overflow:hidden;}
.GMCell div{white-space:normal;}
td.GMBool{overflow:hidden !important;}
td.GMNoSpaceLeft.GMWrap0.GMCellSpace.GMHtml{max-width: 100px;overflow: auto;text-overflow: ellipsis;overflow-x: hidden;}
.GMHintMain{overflow-y:auto;white-space:normal;overflow-x:hidden;margin:1px 0 0 1px;z-index:200;max-height:180px !important;}
.GMHintShadow{z-index:200;max-height:180px !important;}
.GMHintMain .GMCell{border-color:#cfcfcf !important;}
.GMTree,td.GMGantt{overflow:hidden;}
.GMHintShadow{margin-left:4px;margin-top:4px;}
.GMEmpty{text-decoration:none;font-size:10px;line-height:1px;}
.GMNoDataRow{border-top:0 solid #cdd7bb;}
.GMColorDetail{background-color:#fff;}
.GMColorDetailSelected{background-color:#fff;}
.GMColorReadOnly{background-color:#fff;}
.GMColorHoveredCell{background-color:#e1e1e1;}
.GMColorHoveredCellReadOnly{background-color:#e1e1e1;}
.GMColorHoveredCellSpaceEdit{background-color:#e1e1e1;}
.GMColorSelected{background-color:#ffe1c0;}
.GMColorAdded{background-color:#fff;}
.GMColorMoved1{background-color:#fff;}
.GMColorMoved2{background-color:#fff;}
.GMColorChanged{background-color:#fff;}
.GMColorChangedCell{background-color:#fff;}
.GMColorFocusedCell{background-color:#ffe1c0;}
.GMHoverRowBackground{opacity:0;filter:alpha(opacity=0);background:#FFF;margin-top:-2px;margin-left:-1px;}
.GMHoverRowBorder{z-index:1;border:0;cursor:default;}
.GMHoverCellBorder{z-index:3;padding:0;border:0;}
.GMFocusRowBackground{opacity:0;filter:alpha(opacity=0);background:#0F0 transparent;}
.GMFocusRowBorder{z-index:2;border:0;}
.GMFocusCellBorder,.GMEditCellBorder{z-index:4;border:0 solid #66f;}
.GMEditCellInput{z-index:20000;}
.GMMenuMain{position:absolute;margin-left:-1px;margin-top:0;z-index:258;margin-left:1px;margin-top:1px;}
.GMMenuOuter{overflow:hidden;border:2px solid #ff9c30;background:white;padding:0;}
.GMMenuHeader{overflow:hidden;position:absolute;z-index:258;border:1px solid #b0b0c0;background:white;cursor:pointer;_cursor:hand;margin-left:2px;margin-top:2px;}
.GMMenuHead{background:#183873 url(Backgrounds.gif) repeat-x 0 -2px;font:10px Verdana,Arial;color:white;cursor:default;text-align:center;padding-top:5px;padding-bottom:4px;margin-left:-1px;margin-top:-1px;}
.GMEnumHeaderLeft,.GMEnumHeaderRight,.GMEnumHeaderNone{font-size:12px;font-family:arial,sans-serif !important;}
.GMMenuShadow{position:absolute;margin-left:1px;margin-top:1px;z-index:257;background:#888;opacity:.3;filter:alpha(opacity=50);}
.GMMenuItemText,.GMMenuItemIcon,.GMMenuEnum,.GMMenuEnumHeader,.GMMenuEdit{font:12px "Microsoft Sans Serif",Arial;white-space:nowrap;}
.GMPickMY{font:10px Verdana,Arial;color:black;background:#eceee9 url(../images/backgroundHeader.png) repeat-x left bottom !important;padding-top:1px;cursor:default;text-align:center;padding-top:2px;padding-bottom:4px;}
.GMPickRowW{color:black;background:#eceee9 url(../images/backgroundHeader.png) repeat-x left bottom !important;padding-top:1px;}
.GMPickWNE{background:0;}
.GMPickEmpty{width:0;}
.GMPick2Footer{background:#eceee9 url(../images/backgroundHeader.png) repeat-x left bottom !important;padding-top:1px;}
.GMPickButton{background:0;}
.GMPick2BL,.GMPick2BR{height:20px !important;}
.GMTipMain{z-index:1003;}
.GMToolbarRow{padding-left:3px;border-top:1px solid #cdd7bb;}
.GMToolMenuHeader{border:1px solid #cdd7bb !important;}
.GMToolMenuOuter{border:1px solid #cdd7bb !important;background:#e8f4ff !important;padding:5px;}
.GMToolbarRow,.GMToolbar1Row,.GMToolbar2Row,.GMTopbarRow,.GMTopbar1Row,.GMTopbar2Row,.GMGroupRow,.GMSearchRow,.GMPagerRow{background:#eceee9 url(../images/backgroundHeader.png) repeat-x left bottom !important;padding-top:1px;font-size:1px;overflow:hidden;padding-bottom:5px;padding-top:5px;white-space:nowrap;}
.GMGantt0,.GMGantt10In,.GMGantt90In,.GMGantt100In,.GMGanttnullIn,.GMGantt0Err,.GMGantt10InErr,.GMGantt90InErr,.GMGantt100InErr,.GMGanttnullInErr,.GMGantt0crit,.GMGantt10Incrit,.GMGantt90Incrit,.GMGantt100Incrit,.GMGanttnullIncrit{background:0;}
.GMGantt100In,.GMGantt100InErr,.GMGantt100Incrit,.GMGantt90In,.GMGantt90InErr,.GMGantt90Incrit{background-position:0 0;background-color:#36f;}
.GMGantt10In,.GMGantt0{background-position:0 0;background-color:#70afdb;}
.GMGanttBG10In,.GMGanttBG110In{background:#f9b127;}
.GMGanttBG190In,.GMGanttBG1100In,.GMGanttBG1NullIn{background:#f9b127;}
.GMGanttBG20In,.GMGanttBG210In{background:#70afdb;}
.GMGanttBG290In,.GMGanttBG2100In,.GMGanttBG2NullIn{background:#70afdb;}