/*
 * Contributor; Gopalakrishnan
 ************************************************************************
*/

.OBToolbarIconButton_icon_efin_auto_copy {
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(./images/iconButton-clone.png);
}
	
