/*
 * Contributor; Gopalakrishnan
 ************************************************************************
*/

.OBToolbarIconButton_icon_efin_distribute_all {
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(./images/distributeall.png);
}
	
