/*
 * Contributor; Anup singh
 ************************************************************************
*/

.OBToolbarIconButton_icon_ehcm_endofemployment_printicon {
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(./images/print_pdf.png);
}

