@CHARSET "UTF-8";

/*
 * Contributor; Gokul on 22.05.2020
 ************************************************************************
*/

.OBToolbarIconButton_icon_escm_bid_export {
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(./images/download.png);
}

.OBToolbarIconButton_icon_escm_bid_import {
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(./images/upload_icon.png);
}
    
