/*
 * Contributor; Kousalya
 ************************************************************************
*/

.OBToolbarIconButton_icon_escm_import_supplier {
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(./images/import_supplier.jpg);
}
	
