/*
 * Contributor; Kiruthika
 ************************************************************************
*/

.OBToolbarIconButton_icon_escm_proposal_export {
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(./images/download.png);
}

.OBToolbarIconButton_icon_escm_proposal_import {
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(./images/upload_icon.png);
}

