/*
 * Contributor; Kousalya
 ************************************************************************
*/

.OBToolbarIconButton_icon_escm_update {
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(./images/icon_update.png);
}

