/*
 * Contributor; Poongodi,Priyanka Ranjan
 ************************************************************************
*/

.OBToolbarIconButton_icon_escm_pr_distribute_all {
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(./images/distributeall.png);
}
    
.OBToolbarIconButton_icon_escm_bid_apply_uniquecode {
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(./images/distributeall.png);
}

.OBToolbarIconButton_icon_escm_proposal_apply_uniquecode {
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(./images/distributeall.png);
}

.OBToolbarIconButton_icon_escm_po_apply_uniquecode {
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(./images/distributeall.png);
}

.OBToolbarIconButton_icon_escm_proposal_attr_apply_uniquecode {
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(./images/distributeall.png);
}