/*
 * Contributor; Divya J
 ************************************************************************
*/
.OBToolbarIconButton_icon_escm_po_Receipt_export {
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(./images/download.png);
}

.OBToolbarIconButton_icon_escm_po_Receipt_import {
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(./images/upload_icon.png);
}
    
