/*
 * Contributor; Kousalya
 ************************************************************************
*/

.OBToolbarIconButton_icon_escm_unapply {
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(./images/unapply_icon.png);
}
	
