/*
 * Contributor; Divya
 ************************************************************************
*/

.OBToolbarIconButton_icon_ehcm_abstype_variables {
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(./images/iconInfo.png);
}
	
