/*
 * Contributor; Priyanka Ranjan
 ************************************************************************
*/

.OBToolbarIconButton_icon_ehcm_overtime_decree_printicon {
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(./images/print_pdf.png);
}

